.container-menu {
  height: 100vh;
  background-color: rgb(87, 25, 158);
  
  // Duplicating properties for hover in and out animations.
  * {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  *:hover {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  h2 {
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 1px 2px black;
    font-family: 'Syne', sans-serif;
    margin: 0;
    }
  
  h2:hover {
    background-color: rgb(66, 17, 122);
    font-size: 1.2em;
    cursor: default;
  }
  
  ul {
    line-height: 2em;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  
  li {
    padding: 0.5em;
    font-size: 1.15em;
    text-transform: uppercase;
  }
  
  li:hover {
    background-color: rgb(66, 17, 122);
  }
  
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.05em;
  }
  
  a:hover {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    font-size: 1.15em;
    text-shadow: 0px 0.5px black;
  }
}