.registerScreen {
    background-color: #7020cc;
    z-index: 1;
    color: #ffffff;
    height: 100vh;
    display: flex;
    font-family: 'Poppins', sans-serif;

    h1 {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        margin: 0;
        padding-top: 8px;
        color: #ffffff;
        font-size: 2em;
    }
}

.registerScreen-leftPanel {
    width: 100%;
}

.registerScreen-mainPanel {
    width: 60%;
    transition: .3s all;
    padding: 3%;

    * {
        color: #ffffff;
    }
}

.registerScreen-rightPanel {
    font-size: 1.5em;
    width: 20%;
    margin-top: 3%;
    display: flex;
    justify-content: center;

    button {
        border-radius: 50%;
        width: 30%;
        background-color: #7020cc;
        outline: none;
    }

    button:hover {
        background-color: #5d1da7;
    }   
}

.registerScreenInputs {
    display: flex;
    flex-direction: column;

    input {
        width: 100%;
        border-radius: 5px; 
        margin: 0 auto;
        background-color: #5d1da7;
        border: none;
        padding: 5px;
        font-family: 'Poppins', sans-serif;
        font-size: 1.6em;
        margin-bottom: -5em;
    }

    input:focus, input:hover {
        border: none;
    }

    button {
        margin-top: 0.90em;
        background-color: #ffffff;
        color: #5d1da7;
        width: 100%;
    }

    button:hover {
        background-color: #ffffff;
    }

    label {
        text-transform: uppercase;
        font-size: 0.7em;
        font-weight: 700;
        letter-spacing: 0.65px;
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
    }
}

.hidden {
    opacity: 0;
}

.togglePanel {
    width: 20%;
}