.container-menu {
  height: 100%;
  background-color: #7020cc;

  * {
    -webkit-transition: all .35s;
    transition: all .35s;
  }

  h2 {
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 1px 2px black;
    font-family: 'Syne', sans-serif;
    margin: 0;
    user-select: none;
  }
  
  h2:hover {
    background-color: #621eb1;
    font-size: 1.2em;
    cursor: default;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    line-height: 2em;
    list-style-type: none;
  }
  
  li {
    padding: 0.5em;
    font-size: 1.15em;
    text-transform: uppercase;
  }
  
  li:hover {
    background-color: #621eb1;
  }

  p {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.05em;
  }

  i {
    margin-right: 0.35em;
  }
}