.container-menu {
  height: 100%;
  background-color: #7020cc;

  * {
    -webkit-transition: all .35s;
    transition: all .35s;
    margin: 0;
  }

  h2 {
    text-align: center;
    font-size: 1.3em;
    padding: 1em;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 1px 2px black;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
    margin: 0;
    user-select: none;
  }

  h2:hover {
    font-size: 1em;
    cursor: default;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;

    li {
      font-size: 1em;
      text-transform: uppercase;
      padding: 1em 1em 1em 0;
    }
  }

  a:hover {
    background-color: #621eb1;
  }

  p {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.05em;

    i {
      margin: 0 1.6% 0 3%;
    }
  }

}