.dashboard-mainPanel {
    display: flex;
    height: 100vh;
}

.dashboard-leftPanel {
    width: 16%;
}

.dashboard-rightPanel {
    width: 84%;
}

.dashboard-leftPanel a:first-child {
    background-color: #621eb1;
}