.sidebar {
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(87, 25, 158);
    z-index: 1;
    transition: .5s;
    // TODO: Toggle smooth transitioning.
    padding: 2em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: translateX(300px);
}

.sidebarShow {
    transform: translateX(0px);
}

.sidebar-element {
    margin-bottom: 15%;
}

.sidebar form {
    margin-left: auto;
}

.sidebar form ul {
    padding: 20px;
    justify-content: center;
}

.sidebar form ul li {
    color: red;
    margin: auto;
}