.sidebar {
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #7020cc;
    z-index: 1;
    transition: .5s;
    padding: 2em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: translateX(300px);
}

.sidebarShow {
    transform: translateX(20px);
}