.sidebar {
    width: 14em;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #7020cc;
    transition: .5s;
    padding: 0 1em;
    overflow: hidden;
    transform: translateX(100%);

    * {
        font-family: 'Poppins', sans-serif;
    }

    label {
        color: white;
    }

    input:focus, input:hover, textarea:focus, textarea:hover, select:focus, select:hover {
        border: none;
    }

    .closeFormButton {
        position: absolute;
        top: 0;
        margin-top: 0.3em;
        margin-left: 70%;
        color: #ffffff;
        cursor: pointer;
        width: 5%;
        font-size: 1.3em;
    }
}

.sidebarShow {
    transform: translateX(7%);
}

#sidebarForm {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    * {
        // To clear the resizing effect on hover over element.
        border-bottom: none ;
    }

    button {
        background-color: #414141;
        margin-top: 2em;
        cursor: pointer;
    }

    button:hover {
        background-color: #4e4e4e;
        box-shadow: none;
    }

    select, input[type='date'] {
        cursor: pointer;
    }

    .error {
        font-size: 0.8em;
        margin-top: -1.6em;
        color: red;
    }

    .error:nth-of-type(3) {
        font-size: 0.6em;
    }
}
