.calendar {
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    transition: .5s;
  }
  
  .resize {
    width: 84%;
}


.rbc-event {
  // Color behind events
  .rbc-event-content {
    // Holds title for the event
  }
}
