.container-loginScreen {
    // background: linear-gradient(120deg, #3b5998, #FFFFFF);
    // background: rgb(128,196,232);
    // background: linear-gradient(150deg, rgba(128,196,232,1) 0%, rgba(90,137,235,1) 25%, rgba(82,128,222,1) 50%, rgba(90,137,235,1) 75%, rgba(128,196,232,1) 100%);
    background: #9059cf;
    background: linear-gradient(150deg, rgba(144,89,207,1) 0%, rgba(110,42,189,1) 30%, rgba(99,34,173,1) 50%, rgba(110,42,189,1) 70%, rgba(144,89,207,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    user-select: none;
}

.loginScreen {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 36%;
    height: 55vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.75), inset 0 0 1px #000000;
    border-radius: 6px;
    display: flex;
    overflow: hidden;

    h1 {
        margin-top: 0%;
        margin-left: 17.5%;
        // color: #4185F4;
        color: #5d1da7;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-size: 3em;
    }

    button {
        width: 65%;
        border-radius: 5px;
        height: 4.5vh;
        background-color: #5d1da7;
        padding: 0px;
        color: white;
        transition: 0.5s all;
        border: none;
        text-transform: uppercase;
        font-family: 'Syne', sans-serif;
        font-size: 1.05em;
    }
    
    button:hover {
    transition: 0.8s all;
    background-color:#3C77DB;
    }
}

.loginScreen-leftPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 92%;
    transition: .6s all;
}

.loginScreen-rightPanel {
    width: 8%;
    position: absolute;
    top: 0;
    right: 0;
}

.loginScreen-inputs {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;

    input {
        width: 100%;
        border-radius: 5px;
        height: 2em; 
        margin-top: 5px;
        background-color: rgb(231, 231, 231);
        border: none;
        padding: 0.3em;
    }

    input:focus {
        border: none;
    }

    label {
        text-transform: uppercase;
        font-size: 0.71em;
        font-weight: 700;
        letter-spacing: 0.65px;
        font-family: 'Poppins', sans-serif;
    }

    label input {
        font-size: 1.8em;
        font-weight: 400;
    }
}

.loginScreen-extras {
    width: 65%;
    margin: -5% auto 3% auto;

    input {
        margin-right: 0.25em;
    }

    a {
        float: right;  
    }

    label {
        font-weight: 400;
    }
}

.loginScreen-submit {
    display: flex;
    justify-content: center;
}

.loginScreen-rightPanel {
    transition: .5s all;
}

.registrationFocused {
    width: 100%;
}

.registrationHover:hover {
    width: 10%;
}