.container-loginScreen {    
    background: #9059cf;
    background: linear-gradient(150deg, rgba(144,89,207,1) 0%, rgba(110,42,189,1) 30%, rgba(99,34,173,1) 50%, rgba(110,42,189,1) 70%, rgba(144,89,207,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    user-select: none;
}

.loginScreen {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 36%;
    height: 60vh;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.75), inset 0 0 1px #000000;
    border-radius: 6px;
    display: flex;
    overflow: hidden;

    h1 {
        margin: 0% 0% 0% 17.5%;
        color: #5d1da7;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-size: 2.6em;
        font-weight: 100;
    }

    button {
        background-color: #5d1da7;
        font-family: 'Syne', sans-serif;
        cursor: pointer;
        transition: .5s all;
    }
    
    button:hover {
        transition: 0.8s all;
        background-color:#7020cc;
    }
}

.loginScreen-leftPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 92%;
    transition: .6s all;
}

.loginScreen-rightPanel {
    width: 8%;
    position: absolute;
    top: 0;
    right: 0;
}

.loginScreen-inputs {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;

    input {
        background-color: #e7e7e7;
        color: black;
        border-bottom: none;
    }

    label {
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-size: 0.7em;
        font-weight: 700;
        letter-spacing: 0.65px;
    }

    label input {
        font-family: 'Poppins', sans-serif;
        font-size: 1.7em;
        font-weight: 100;
    }
}

.loginScreen-extras {
    width: 65%;
    margin: -5% auto 3% auto;

    input {
        margin-right: 0.25em;
    }

    a {
        float: right;
        text-decoration: none;
        color: #145ab6;
    }

    label {
        font-weight: 400;
    }
}

.loginScreen-rightPanel {
    transition: .5s all;
}

.registrationFocused {
    width: 100%;
}

.registrationHover:hover {
    width: 10%;
}